.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: hidden;
  z-index: 999;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

.scrolled {
  background-color: #333;
}

.navbar h1 {
  font-family: inherit;
  font-size: 1.5rem;
  color: red;
  cursor: pointer;
}

.icon {
  height: 25px;
  width: 25px;
  cursor: pointer;
}
