.type {
  color: white;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 1rem 0 0 1rem;
}

.searchContainer {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 0.5rem;
  padding: 1rem;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 16rem;
  width: 11rem;
}
